<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>
 
<p>
  <strong>order_details:</strong>
  <%= @order.order_details %>
</p>

 
<%= link_to 'Edit', edit_order_path %>
<%= link_to 'Back', orders_path %>
